.home-container {
    .guide-body {
        position: relative;
        width: 100%;
        height: 100%;
        display: inline-block;
        .guide-words-body {
            position: absolute;
            top: 19.7%;
            left: 20%;
            width: 23.8%;
            height: 40.95%;
        }
    }
}
