$REM: 16;
@function REM($n) {
    @return calc($n / $REM) * 1rem;
}

.navbar {
    width: 100%;
    height: REM(63);
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    top: 0;
    left: 0;
    padding: REM(8) REM(32);
    .dropdown > .navbar__link:after {
        display: none;
    }
    .navbar__items {
        font-size: 14px;
    }
}
